<div class="container">
  <h1><%= isEditMode ? 'Edit Post' : 'Create Post' %></h1>
  
  <form action="<%= isEditMode ? `/posts/edit/${post.id}` : '/posts/create' %>" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="<%= isEditMode ? post.title : '' %>" required />
    </div>
    <div class="form-group">
      <label for="link">Link</label>
      <input type="url" id="link" name="link" value="<%= isEditMode ? post.link : '' %>" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" rows="4" required><%= isEditMode ? post.description : '' %></textarea>
    </div>
    <div class="form-group">
      <label for="subgroup">Subgroup</label>
      <input type="text" id="subgroup" name="subgroup" value="<%= isEditMode ? post.subgroup : '' %>" />
    </div>
    <button type="submit" class="primary"><%= isEditMode ? 'Update Post' : 'Create Post' %></button>
  </form>
</div>
