<div class="indvpost"><div class="authOptions">
  <h2 style="font-size: 25px; margin-bottom: 0px;">View Post</h2>
</div>
<hr />
<hr />
<div>
  <div class="postdetails">
    <p>Author:- <%= post.creator.uname %></p>
    <p><%= time%></p>
    <p>Group:-  <a href="/subs/show/<%=post.subgroup%>"><%=post.subgroup%></a></p>
  </div>
  <hr />
  <h3><%= post.title %></h3>
  <a href="<%=post.link%>"><%= post.link %></a>
  <p><%= post.description %></p>
  <% if (user && user.id === post.creator.id) { %>
    <div class="post-actions">
      <form action="/posts/edit/<%= post.id %>" method="get">
        <button type="submit">Edit Post</button>
      </form>
      <form action="/posts/deleteconfirm/<%= post.id %>">
        <button type="submit">Delete Post</button>
      </form>
    </div>
  <% } %>

  <% if (user) { %>
    <div class="vote-buttons">
      <% const userVotes = post.votes.find(vote => vote.user_id === user.id); %>
      <% const voteValue = userVote ? userVote.value : 0; %>
  
      <p class="vote-count"><%= post.totalVotes %></p>
      <form action="/posts/vote/<%= post.id %>" method="post">
        <input type="hidden" name="setvoteto" value="1">
        <% if (voteValue === 1) { %>
          <button type="submit" style="color: #1095c1;">
            <i class="fas fa-thumbs-up"></i>
          </button>
        <% } else { %>
          <button type="submit">
            <i class="fas fa-thumbs-up"></i>
          </button>
        <% } %>
      </form>
      
      <form action="/posts/vote/<%= post.id %>" method="post">
        <input type="hidden" name="setvoteto" value="-1">
        <% if (voteValue === -1) { %>
          <button type="submit" style="color: #1095c1;">
            <i class="fas fa-thumbs-down"></i>
          </button>
        <% } else { %>
          <button type="submit">
            <i class="fas fa-thumbs-down"></i>
          </button>
        <% } %>
      </form>
    </div>
  <% } %>
  

  <hr />
  <div class="comments">
    <h4>Comments  <% if (comments){%><%=comments.length%><% } %></h4>
    <% if (user){%>
      <form action="/posts/comment-create/<%=post.id%>" method="post">
        <input
        name="creatorid"
        id="creatorid"
        hidden
        value="<%= user.id %>"
      />
      
        <textarea id="commentbox" rows="4" name="commentbox"></textarea>
        <button type="submit" style="float:right; margin-right: 19px;">post</button>
      </form>
      <% } %>

    <% if (comments){%>
    
      <% comments.forEach(comment => { %>
        <table class="commenttable">
      <tr>
        
        <td style="font-size: 12px;"><%= comment.creator.uname %></td>
        
      </tr>
      <tr><td> <%= comment.description %></td></td></tr>
      <tr>
        
        
        <td  style="padding-bottom: 23px; font-size: 12px "><%= comment.timestamp %></td>
        
        <% if (user){%>
        
        <% if (user.id==post.creator.id||user.id==comment.creator.id){%>
        <td>
          <form action="/posts/show/<%=post.id%>/deletecomment" method="post">
            <input
              name="commentid"
              id="commentid"
              hidden
              value="<%= comment.id %>"
            />
            <button type="submit" >Delete</button>
          </form>

          <% } %>
          <% } %>
        </td>
      </tr>
    </table>
    <hr>

      <% }) %>
    
    <% } else { %>
    <p>No comments. Be first to Comment</p>
    <% } %>
  </div>
 
</div>
</div>