<div class="authOptions">
  <h2>View Post</h2>
</div>
<hr />
<hr />
<div>
  <p>Author:- <%= post.creator.uname %></p>
  <p><%= time%></p>
  <p>Group:-  <a href="/subs/show/<%=post.subgroup%>"><%=post.subgroup%></a></p>
 
  <hr />
  <h3><%= post.title %></h3>
  <a href="<%=post.link%>"><%= post.link %></a>
  <p><%= post.description %></p>
  <% if (user && user.id === post.creator.id) { %>
    <div class="post-actions">
      <form action="/posts/edit/<%= post.id %>" method="get">
        <button type="submit">Edit Post</button>
      </form>
      <form action="/posts/deleteconfirm/<%= post.id %>">
        <button type="submit">Delete Post</button>
      </form>
    </div>
  <% } %>


  <hr />
  <h3>Comments</h3>
  <% if (user){%>
    <form action="/posts/comment-create/<%=post.id%>" method="post">
      <input
      name="creatorid"
      id="creatorid"
      hidden
      value="<%= user.id %>"
    />
    
      <textarea rows="4" cols="50" name="commentbox"></textarea>
      <button type="submit">post</button>
    </form>
    <% } %>

  <% if (comments){%>
  <table>
    <% comments.forEach(comment => { %>
    <tr>
      <td>
      <%= comment.description %></td>
    </tr>
    <tr>
      <td><%= comment.creator.uname %></td>
      <td><%= comment.timestamp %></td>
      <% if (user){%>
       
      <% if (user.id==post.creator.id||user.id==comment.creator.id){%>
      <td>
        <form action="/posts/show/<%=post.id%>/deletecomment" method="post">
          <input
            name="commentid"
            id="commentid"
            hidden
            value="<%= comment.id %>"
          />
          <button type="submit">Delete</button>
        </form>

        <% } %>
        <% } %>
      </td>
      
    </tr>
   

    <% }) %>
    <hr>
  </table>
  <% } else { %>
  <p>No comments. Be first to Comment</p>
  <% } %>

 
</div>
