<div class="indvpost"><div class="authOptions">
  <h2 style="font-size: 25px; margin-bottom: 0px;">View Post</h2>
</div>
<hr />
<hr />
<div>
  <div class="postdetails">
    <p>Author:- <%= post.creator.uname %></p>
    <p><%= time%></p>
    <p>Group:-  <a href="/subs/show/<%=post.subgroup%>"><%=post.subgroup%></a></p>
  </div>
  <hr />
  <h3><%= post.title %></h3>
  <a href="<%=post.link%>"><%= post.link %></a>
  <p><%= post.description %></p>
  <% if (user && user.id === post.creator.id) { %>
    <div class="post-actions">
      <form action="/posts/edit/<%= post.id %>" method="get">
        <button type="submit">Edit Post</button>
      </form>
      <form action="/posts/deleteconfirm/<%= post.id %>">
        <button type="submit">Delete Post</button>
      </form>
    </div>
  <% } %>

  <% if (user) { %>
    <div class="vote-buttons">
      <% const userVote = (post.votes).find(vote => vote.user_id === user.id); %>
      <% const voteValue = userVote ? userVote.value : 0; %>
  
      <p class="vote-count"><%= post.totalVotes %></p>
      <form action="/posts/vote/<%= post.id %>" method="post">
        <input type="hidden" name="setvoteto" value="1">
        <% if ( voteValue === 1) { %>
          <button type="submit" style="color: #1095c1;">
            <i class="fas fa-thumbs-up"></i>
          </button>
        <% } else { %>
          <button type="submit">
            <i class="fas fa-thumbs-up"></i>
          </button>
        <% } %>
      </form>
      
      <form action="/posts/vote/<%= post.id %>" method="post">
        <input type="hidden" name="setvoteto" value="-1">
        <% if (voteValue === -1) { %>
          <button type="submit" style="color: red;">
            <i class="fas fa-thumbs-down"></i>
          </button>
        <% } else { %>
          <button type="submit">
            <i class="fas fa-thumbs-down" ></i>
          </button>
        <% } %>
      </form>
    </div>
  <% } %>
  

  <hr />
  <div class="comments">
    <h4>Comments  <% if (comments){%><%=comments.length%><% } %></h4>
    <% if (user){%>
      <form action="/posts/comment-create/<%=post.id%>" method="post">
        <input
        name="creatorid"
        id="creatorid"
        hidden
        value="<%= user.id %>"
      />
      
        <textarea id="commentbox" rows="4" name="commentbox"></textarea>
        <button type="submit" style="float:right; margin-right: 19px;">post</button>
      </form>
      <% } %>

    <% if (comments){%>
    
          <% comments.forEach(comment => { %>
                  <table class="commenttable">
                <tr>
                  
                  <td style="font-size: 12px;"><%= comment.creator.uname %></td>
                  
                </tr>
                <tr id="commentEdit">
                  <td > <%= comment.description %></td>
                 
                  <td style=" font-size: 12px; float: right; "><%= comment.timestamp %></td>
              
                  <% if (user){%>
                  
                      <% if (user.id==post.creator.id||user.id==comment.creator.id){%>
                      <td style="width: 210px;">
                        <form action="/posts/show/<%=post.id%>/deletecomment" method="post">
                          <input
                            name="commentid"
                            id="commentid"
                            hidden
                            value="<%= comment.id %>"
                          />
                          <button type="submit" >Delete</button>
                        </form>
                       

                        <% } %>

                        <button onclick="showbox('rplybox')">rply</button>
                        <% if (user.id==comment.creator.id){%>
                        <button onclick=" showbox('commentEdit');showbox('Editpressed')">Edit</button>
                        <% } %>
                      </td>
                </tr>
                <tr id="Editpressed" style="display: none;">
                  <td style="width: 25.7%;">
                    <form style="display: flex;" action="/posts/show/<%=post.id%>/Editcomment" method="post">
                      <input value="<%= comment.description %>" style="height: 50px; font-size: 15px;" name="edittedcomment" id="edittedcomment">
                      <input value="<%= comment.id %>"" name="commentid" id="commentid" hidden>
                      <button type="submit">Edit IT</button>
                    </form>
                  </td>
                </tr>
                  
                  <% } %>
                  <% (post.rplies).forEach(replydata => { %>
                    <% if (replydata.commentid==comment.id){%>
                    <tr>
                      <td id="rplydiv">
                        <p style="font-size: 15px; width:40%; height: 40px;"><%=replydata.description%></p>
                        <p style="font-size: 12px; padding-right: 2px;"><%=replydata.creator.uname%></p>
                        
                      <!-- <td style="vertical-align:middle; text-align: center;"></td> -->
                      <!-- <td> -->
                       <p style="padding-right: 2px;"> <%=replydata.timestamp%></p>
                      <% if (user && (replydata.creator.id==user.id||post.creator.id==user.id)){%><form><button type="submit">delete</button></form>
                      <% if (user.id==replydata.creator.id){%>
                      <button onclick="showbox('rplydiv'); showbox('showRplyEdit')">Edit</button><% } %>
                      <% } %>
                      </td>
                      <td id="showRplyEdit" style="margin-left: 80px;display: none;width: 110.7%;">
                        <form style="display: flex;" action="/posts/show/<%=post.id%>/reply-edit" method="post">
                        <input value="<%=replydata.description%>" style="height: 35px;padding-top: 2px;font-size: 15px;padding-bottom: 2px;" id="edittedrply" name="edittedrply">
                        <input value="<%=replydata.id%>" hidden id="rplyid" name="rplyid">
                        <button type="submit" style="width: 90px;" >Edit Rply</button>
                      </form>
                      </td>
                  </tr>
                    <% } %>
                    <% }) %>

                    <% if (user){%>
                            <tr id="rplybox" style="display: none;"><td>
                              <form style="display: flex;" action="/posts/show/<%=post.id%>/reply" method="post">
                              <input style="margin-left: 200px;font-size: 15px;height: 36px;width: 402px;" type="text" id="rplyid" name="rplyid">
                              <input
                                    name="commentid"
                                    id="commentid"
                                    hidden
                                    value="<%= comment.id %>"
                                  />
                                  <input
                                    name="userid"
                                    id="userid"
                                    hidden
                                    value="<%= user.id %>"
                                  />
                              <button type="submit" style="float:right; margin-right: 19px;">post</button>
                            </form></td></tr>
                          </table>
                          <hr>
                  <% } %>
                  
        <% }) %>
    
    <% } else { %>
    <p>No comments. Be first to Comment</p>
    <% } %>
  </div>
 
</div>
</div>
<script>

function showbox(i){
  
 
                          var x = document.getElementById(i);
                          if (x.style.display === 'none') {
                              x.style.display = 'block';
                          } else {
                            x.style.display = 'none';
                          }
                        
                        
                        }

</script>